---
import { getLocalizedRoute } from "@/js/translationUtils";

// components
import Button from "@/components/button/Button.astro";

// utils
import { getLocaleFromUrl } from "@/js/localeUtils";
import { useTranslations } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
---

<section id="hero-center-dashboard" class="-mt-23 overflow-hidden pt-23">
	<div class="relative pt-20 pb-8">
		<div class="site-container relative mx-auto px-4">
			<div class="flex flex-col items-center">
				<!-- Text Content - Centered -->
				<div class="relative z-10 mb-4 text-center">
					<div data-aos="fade-up" data-aos-trigger="#hero-center-dashboard">
						<h1
							class="font-heading xl:text-10xl mx-auto mb-8 max-w-4xl text-7xl tracking-tighter lg:text-8xl"
						>
							{t("hero_text")}
						</h1>
					</div>
					<p
						class="mx-auto mb-10 max-w-md text-lg opacity-80"
						data-aos="fade-up"
						data-aos-trigger="#hero-center-dashboard"
						data-aos-delay=".15"
					>
						{t("hero_description")}
					</p>
					<div
						class="mx-auto flex items-center justify-center gap-4"
						data-aos="fade-up"
						data-aos-trigger="#hero-center-dashboard"
						data-aos-delay=".3"
					>
						<Button href={getLocalizedRoute(currLocale, "/vending")} class="w-32">Vending</Button>
						<Button variant="outline" href={getLocalizedRoute(currLocale, "/parking")} class="w-32"
							>Parking</Button
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
