@import "tailwindcss";

/* tailwind plugins */
@plugin "@tailwindcss/forms";
@plugin "tailwindcss-animate";

/* dark mode */
@variant dark (&:where(.dark, .dark *));

/* theme definition import */
@import "./tailwind-theme.css";

/* other imports into specific layers */
@import "./aos.css" layer(utilities);
@import "./markdown-content.css" layer(components);
@import "./buttons.css" layer(components);

@layer base {
	:root {
		/* starwind component variables  */
		--background: var(--color-base-50);
		--foreground: var(--color-base-950);
		--card: var(--color-base-50);
		--card-foreground: var(--color-base-950);
		--popover: var(--color-base-50);
		--popover-foreground: var(--color-base-950);
		--primary: var(--color-primary-400);
		--primary-text: var(--color-primary-800);
		--primary-foreground: black;
		--secondary: var(--color-fuchsia-700);
		--secondary-foreground: var(--color-base-50);
		--muted: var(--color-base-100);
		--muted-foreground: var(--color-base-700);
		--accent: var(--color-base-200);
		--accent-foreground: var(--color-base-900);
		--info: var(--color-sky-300);
		--info-foreground: var(--color-sky-950);
		--success: var(--color-primary-400);
		--success-foreground: var(--color-primary-950);
		--warning: var(--color-amber-300);
		--warning-foreground: var(--color-amber-950);
		--error: var(--color-red-700);
		--error-foreground: var(--color-base-50);
		--border: var(--color-base-200);
		--input: var(--color-base-200);
		--outline: var(--color-primary-400);

		--radius: 0.5rem;

		/* custom shiki styling for markdown code blocks. These are the variables Astro uses
		Shiki Themes: https://shiki.style/themes   https://shiki.matsu.io/guide/theme-colors#css-variables-theme */
		--astro-code-foreground: var(--color-base-100);
		--astro-code-background: var(--color-base-900);
		--astro-code-token-constant: var(--color-primary-300);
		--astro-code-token-string: var(--color-primary-700);
		--astro-code-token-comment: var(--color-base-400);
		--astro-code-token-keyword: var(--color-base-300);
		--astro-code-token-parameter: var(--color-sky-400);
		--astro-code-token-function: var(--color-base-100);
		--astro-code-token-string-expression: var(--color-primary-300);
		--astro-code-token-punctuation: var(--color-base-400);
		--astro-code-token-link: var(--color-base-200);

		/* default font */
		font-family: var(--font-sans);
	}

	.dark {
		/* starwind dark theme config */
		--background: oklch(16.82% 0.0045 264.45);
		--foreground: white;
		--card: var(--color-base-950);
		--card-foreground: var(--color-base-50);
		--popover: var(--color-base-950);
		--popover-foreground: var(--color-base-50);
		--primary: var(--color-primary-400);
		--primary-text: var(--color-primary-400);
		--primary-foreground: black;
		--secondary: var(--color-fuchsia-300);
		--secondary-foreground: var(--color-base-950);
		--muted: var(--color-base-900);
		--muted-foreground: var(--color-base-300);
		--accent: var(--color-base-900);
		--accent-foreground: var(--color-base-100);
		--info: var(--color-sky-300);
		--info-foreground: var(--color-sky-950);
		--success: var(--color-primary-400);
		--success-foreground: var(--color-primary-950);
		--warning: var(--color-amber-300);
		--warning-foreground: var(--color-amber-950);
		--error: var(--color-red-800);
		--error-foreground: var(--color-base-50);
		--border: var(--color-base-800);
		--input: var(--color-base-800);
		--outline: var(--color-primary-400);

		--astro-code-background: var(--color-base-950);

		@apply scheme-dark;
	}

	/* starwind preflight merged with Cosmic Themes */
	* {
		@apply border-border;
	}
	*:focus-visible {
		@apply outline-outline !transition-none;
	}
	html {
		@apply bg-background text-foreground leading-[1.6rem] scheme-light dark:scheme-dark;
		scroll-behavior: smooth;
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
		/* prevent layout shift */
		scrollbar-gutter: stable;
	}
	button {
		@apply cursor-pointer;
	}
}

@layer components {
	.h1 {
		@apply font-heading tracking-6xl md:tracking-7xl lg:tracking-8xl text-6xl md:text-7xl lg:text-8xl;
	}

	.h2 {
		@apply font-heading tracking-5xl md:tracking-6xl lg:tracking-7xl text-5xl md:text-6xl lg:text-7xl;
	}

	.h3 {
		@apply font-heading tracking-4xl lg:tracking-5xl text-4xl lg:text-5xl;
	}

	.badge {
		@apply text-primary-text mb-4 inline-block text-sm font-medium tracking-tighter;
	}

	/* styles various navbar elements like links, language switcher, dropdowns, theme toggle, etc. */
	.nav__link--base {
		@apply text-foreground hover:text-foreground/80 tracking-tight transition-colors duration-200;
	}

	.site-container {
		@apply mx-auto max-w-[1550px] px-4;
	}
}

@layer utilities {
	/* focus utility class (for when user is tabbing through items on page) */
	.primary-focus {
		@apply focus-visible:outline-outline focus-visible:rounded-xs focus-visible:outline-2 focus-visible:transition-none;
	}

	.bg-gradient-radial-dark {
		@apply from-base-200/70 to-base-50 dark:from-blueGray-900 dark:to-blueGray-950 bg-radial;
	}

	.bg-gradient-radial-dark-light {
		@apply from-base-200/70 to-base-50 dark:from-blueGray-800 dark:to-blueGray-950 bg-radial;
	}

	.bg-gradient-radial-light {
		@apply from-primary-300/20 to-base-100/30 dark:from-base-700 dark:to-base-950 bg-radial-[at_75%_35%];
	}

	/* use with "animate-pause" to pause a CSS animation */
	.pause {
		animation-play-state: paused !important;
	}

	/* transition-colors but without outline-color transition property */
	.starwind-transition-colors {
		transition-property:
			color, background-color, border-color, text-decoration-color, fill, stroke,
			--tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
		transition-timing-function: var(--default-transition-timing-function);
		transition-duration: var(--default-transition-duration);
	}
}
