---
import { Image } from "astro:assets";
import CircleCheck from "@tabler/icons/filled/circle-check.svg";

// utils
import { getLocaleFromUrl } from "@/js/localeUtils";

import POSImage from "@images/headers/POS.png";

// Define feature items array
const featureItems = [
	"Pagos más rápidos y sin fricción",
	"Tecnología compatible con cualquier máquina",
	"Experiencia de usuario mejorada",
];

const currLocale = getLocaleFromUrl(Astro.url);
---

<section id="feature-side-image" class="overflow-hidden pt-8 pb-8">
	<div class="site-container">
		<div class="mx-auto max-w-5xl">
			<div class="flex flex-wrap lg:items-center">
				<div class="w-full md:w-1/2" data-aos="fade-right" data-aos-delay="0.3">
					<div class="mx-auto max-w-max">
						<Image
							class="tilt-card rounded-3xl"
							src={POSImage}
							alt="POS System"
						/>
					</div>
				</div>
				<div class="w-full p-8 md:w-1/2 lg:p-12" data-aos="fade-left" data-aos-delay="0.3">
					<h2 class="h3 mb-6">Inbyte + Klap: innovación en pagos de autoservicio.</h2>
					<p class="text-muted-foreground mb-8">
						La alianza entre Inbyte y Klap impulsa la transformación digital de los pagos de autoservicio en Chile. Integramos la tecnología innovadora de Inbyte con la sólida infraestructura de pagos de Klap para ofrecer una solución integral, confiable y escalable para vending, retail, transporte, estacionamientos y cualquier operación que necesite pagos rápidos y sin fricción.
					</p>
					<ul class="mb-8 flex flex-col gap-3.5">
						{
							featureItems.map((item) => (
								<li class="inline-flex">
									<CircleCheck class="mt-0.5 mr-3.5 size-5" />
									<span class="">{item}</span>
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
