---
// layout
import BaseLayout from "@/layouts/BaseLayout.astro";

// components
import HeroSideImage from "@/components/hero/HeroSideImage.astro";
import HeroCenterImage from "@/components/hero/HeroCenterImage.astro";
import HeroCenterDashboard from "@/components/hero/HeroCenterDashboard.astro";
---

<BaseLayout
	title="All Hero Sections"
	description="All Hero sections you get with the Zenith theme by Cosmic Themes."
>
	<div class="site-container flex justify-center py-28">
		<h1 class="h1">All Hero Sections</h1>
	</div>
	<HeroCenterImage />
	<hr class="border-primary my-20" />
	<HeroCenterDashboard />
	<hr class="border-primary my-20" />
	<HeroSideImage />
</BaseLayout>
