---
// layout
import BaseLayout from "@/layouts/BaseLayout.astro";

// components
import PricingThreeCards from "@/components/pricing/PricingThreeCards.astro";
import PricingTable from "@/components/pricing/PricingTable.astro";
import PricingTwoCards from "@/components/pricing/PricingTwoCards.astro";
import PricingTwoCardsSimple from "@/components/pricing/PricingTwoCardsSimple.astro";
import FaqAccordions from "@/components/faq/FaqAccordions.astro";
import FaqAccordionsPlain from "@/components/faq/FaqAccordionsPlain.astro";
---

<BaseLayout
	title="Pricing and FAQ sections"
	description="All Pricing and FAQ sections you get with the Zenith theme by Cosmic Themes."
>
	<div class="site-container my-28 flex justify-center">
		<h1 class="h1">All Pricing and FAQ Sections</h1>
	</div>
	<PricingTable />
	<PricingThreeCards />
	<PricingTwoCardsSimple />
	<PricingTwoCards />
	<FaqAccordions />
	<FaqAccordionsPlain />
</BaseLayout>
