---
import { Image } from "astro:assets";
import { getLocalizedRoute } from "@/js/translationUtils";

// utils
import { getLocaleFromUrl } from "@/js/localeUtils";
import { getTranslatedData } from "@/js/translationUtils";

// data
const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);

// images
import logo from "@images/Inbyte-Logo.png";
---

<a
	class="primary-focus text-foreground flex items-center"
	href={getLocalizedRoute(currLocale, "/")}
>
	<Image
		src={logo}
		alt="INBYTE logo"
		loading="eager"
		width={200}
		height={60}
		class="h-14 w-auto md:h-16"
		aria-hidden="true"
	/>
</a>
